h1{
    padding-top: 1em;
font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 38px;
text-align: center;
color: #FFFFFF;
}

h2{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
}

p{
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
color: #D2D2D2;
}


.title{
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    text-align: center;
    margin-bottom: -13px;
}
.results{
    margin-top: 0px;
    background: #1F2937;
    padding: 1em;
}

#number{
    padding: 1em;
    margin: 5em;
}

input[type=text] {
    font-size: large;
    background: #1F2937;
    color: #FFFFFF;
}

::placeholder{
    color:#FFFFFF
}

